<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ATF Suite" parallel="methods" thread-count="3">

    <test name="Login Tests">

        <classes>

            <class name="com.ui.test.LoginTest">
             <!-- <methods>
                    <include name="testLogin"/>
                    <include name="testLoginWithInvalidCredentials"/>
                    <include name="testLoginWithCSVDataCredentials"/>
                </methods> -->
            </class>
        </classes>

    </test>

</suite>